@import "tailwindcss";

body{
    background-color:  #1A0B2E;
    font-family:'inter', sans-serif;
    margin:0;
    overflow-x: hidden;
}

/* header */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon{
        display:none;
    }

@media screen and (max-width:576px){
   .navber >ul,
   .navber >
   button{
    display:none;
   }
   .icon{
    display:block;
   }
   .navber{
    padding:20px;
   }
}

/* Teckwave */

.teckwave{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-top:110px;
  
}

.img_div{
    position:relative;
    width:300px;
    height:300px;
}
.gradient_circle{
    width:100%;
}
.microphone{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:40%;
}
.badge{
    position:absolute;
    top:10px;
    right:10px;
    background-color: #00FF88;
    color:black;
    width:75px;
    height:38px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:1000px;
    font-weight: 400;
}

/* animations in listen to spotify btn */
.listen:hover {
  transform: scale(1.7);
}

@media screen and (max-width:576px){
  .teckwave {
      height:466px;
      padding:20px 20px;
    }

    .teckwave_writings{
        margin-top: 24px;
    }

    .teckwave_writings h6{
        font-size: 40px;
    }

    .img_div {
        width: 200px;
        height: 200px;
    }
}


/* about podcast */

@media screen and (max-width:576px){
    .about_section{
        padding:40px 20px;
        width:100%;
        margin:0 auto;
    }

    .mobile{
        display:none;
    }
}

/* cards */
.cards{
    margin-bottom: 120px;
}
@media screen and (max-width:576px){
    .cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 20px;
    }
}

/* why choose section */

.why_choose{
    background-color: #230E3D;
    padding:120px 200px;

}

.container{
    margin-top: 40px;
    display:grid;
    gap:30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
}

.box{
    background-color: #351165;
    border-radius: 40px;
    padding:40px;
    gap:16px;

}

.box img{
    margin-bottom: 16px;
}

.box h6{
    margin-bottom: 16px;
}

.box p{
    margin-bottom: 16px;
}
.why_choose h4{
    text-align: center;
}

#audio{
    grid-row: span 2;
    padding-top: 112px;
}

#interview{
    grid-column: span 2;
}

#mobile{
    grid-column: span 2;
}

#community{
    grid-column: span 2;
}

@media screen and (max-width:576px){
    .why_choose{
        padding:40px 20px;
    }

    .container{
        grid-template-columns: 1fr;
    }
    
    #audio{
        grid-column: span 1;
        padding-top: 40px;
        grid-row: span 1;

    } 

    #interview,
    #mobile,
    #community{
        grid-column: span 1;
        padding-top: 40px;
    }
}

/* featured episodes */
.featured_episodes{
    padding:120px 200px;
}

.featured_episodes h4{
    text-align: center;
    margin-bottom: 40px;
}

.featured_container{
    max-width:1200px;
    margin:0 auto;
    display:grid;
    gap:30px;
    grid-template-columns: repeat(3, 1fr);
}

.featured_card{
    background-color:#351165;
    border-radius:24px;
    display:flex;
    flex-direction:column;
    gap:16px;
    overflow:hidden;
}

.featured_container h6{
    padding:10px 24px 5px 24px;
}

.featured_card p{
    padding:0px 24px 12px 24px;
}


.featured_card iframe{
    padding:0px;
    width:100%;
    aspect-ratio:16/9;
    display:block;
}

@media screen and (max-width:576px){
    .featured_container{
        grid-template-columns: 1fr;
    }
    .featured_episodes{
        padding:40px 20px;
    }
}

/* meet the host part */
.meet_host h4{
    text-align: center;
}
.meet_host{
    padding:40px 200px;
}
.meethost_container{
    display:grid;
    grid-template-columns: 200px 1fr;
    gap:24px;
    margin-top:40px;
    padding:40px;
    background-color: #351165;
    border-radius: 40px;
}
.host_info{
    text-align: left;
}

.host_info h6{
    margin-bottom: 16px;
}
.social_media{
    display:flex;
    gap:12px;
    padding-top:16px;
}

.social_icons{
    width:40px;
    height:40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;   
}

.social_icons img{
    width:20px;
    height:20px;
}

@media screen and (max-width:576px) {
    .meethost_container {
        grid-template-columns: 1fr;      
    }
    .host_info{
        text-align: center;
    }
    .meet_host{
        padding:40px 20px;
    }

    .social_media {
        justify-content: center; 
    }

    .host_img {
        margin: 0 auto; 
    }
}

/* footer */

footer {
    background-color: #351165;
    margin-top:120px;
    min-height:412px;
    height:auto;
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

@media screen and (max-width:576px) {
    footer {
        margin-top:40px;
        min-height: auto;
        height: auto;
        padding: 20px;
    }

}

